<%- include("partials/header"); -%>
<h1>Hello</h1>
<p><%= homeStartingContent %></p>

<% for(let i = 0; i < posts.length; i++){ %>
    <% console.log(posts[i].title) %>
<% } %>

<%- include("partials/footer"); -%>